@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/light.woff2?v=20191102") format("woff2"), url("../fonts/Roboto/light.woff?v=20191102") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Roboto/light-italic.woff2?v=20191102") format("woff2"), url("../fonts/Roboto/light-italic.woff?v=20191102") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/regular.woff2?v=20191102") format("woff2"), url("../fonts/Roboto/regular.woff?v=20191102") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/medium.woff2?v=20191102") format("woff2"), url("../fonts/Roboto/medium.woff?v=20191102") format("woff"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, client-cabine
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  display: block !important; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: none; }

a {
  color: inherit;
  text-decoration: none; }

div.wpcf7 input[type="file"] {
  width: 100%; }

div.wpcf7 .ajax-loader {
  position: absolute; }

body {
  font-family: 'Roboto', sans-serif; }

.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.siteHeader {
  font-weight: 300;
  padding-top: 40px; }

.siteHeader .container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.siteHeader .rightBlock > div {
  display: inline-block; }

.siteHeader .rightBlock .lk {
  margin-left: 12px; }

.lk--new {
  position: relative; }

.lk--new.dib {
  margin-bottom: 16px; }

.lk--new .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px; }

.siteHeader .rightBlock .invite {
  margin-left: 45px; }

.siteHeader .rightBlock .phone {
  margin-left: 40px;
  padding-left: 24px;
  background: url("../i/icons/icons-07.svg") no-repeat left center; }

.siteHeader .rightBlock .email {
  padding-left: 27px;
  background: url("../i//icons/icons-08.svg") no-repeat left center; }

.siteHeader .rightBlock .email a:hover {
  text-decoration: underline; }

.siteHeader .rightBlock .invite a {
  border: 1px solid #00922a;
  color: #00922a;
  padding: 10px;
  border-radius: 6px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: block; }

.siteHeader .rightBlock .invite a:hover {
  background-color: #00922a;
  color: #fff; }

.siteHeader .rightBlock .lk a {
  background-color: #00922a;
  border: 1px solid #00922a;
  color: #fff;
  padding: 10px 15px 10px 28px;
  border-radius: 6px;
  background-image: url("../i/icons/icons-05.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 7px center;
  display: block; }

.siteHeader .rightBlock .lk a:hover {
  background-color: #0e9e37;
  border: 1px solid #0e9e37;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

.siteHeader .topMenu {
  width: 1100px;
  margin: 0 auto;
  font-weight: 400;
  margin-top: 85px; }

.siteHeader .topMenu ul {
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.siteHeader .topMenu:after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #d7d7d7;
  margin-top: -5px; }

.siteHeader .topMenu ul li {
  padding: 0 20px;
  padding-bottom: 20px; }

.siteHeader .topMenu ul li.current-menu-item {
  border-bottom: 4px solid #00922a; }

.ml30 {
  margin-left: 30px; }

.siteMain .banner {
  max-height: 600px;
  overflow: hidden;
  margin-top: 80px;
  position: relative; }

.siteMain .banner img {
  max-width: 100%; }

.siteMain .banner .siteName {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  color: #1f1f1f; }

.siteMain .banner .siteName span {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 6px 10px;
  border: 1px solid #999;
  border-radius: 7px;
  font-size: 18px; }

.siteMain .banner h2 {
  position: absolute;
  top: 285px;
  left: 0;
  right: 0;
  font-size: 60px;
  font-weight: 300;
  color: #3f3f3f;
  line-height: 115%; }

.description {
  padding-bottom: 90px;
  background: url("../i/circle.png") no-repeat;
  background-position: 83% 125%; }

.description .container {
  padding: 0 10px; }

.description p {
  font-size: 30px;
  font-weight: 300;
  color: #3f3f3f;
  line-height: 140%;
  margin: 100px 0;
  width: 82%; }

.description p span {
  font-weight: 500;
  color: #00922a; }

.descList-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.description .descList {
  width: 39%;
  vertical-align: top;
  margin-right: 11%; }

.description .descList li {
  padding-left: 43px;
  background: url("../i/icons/icons-16.svg") no-repeat;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 45px;
  background-size: 18px; }

.territory {
  padding: 100px 0;
  background-color: #fafafa; }

.sectionTitle {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 50px; }

.sectionTitle:after {
  display: block;
  content: '';
  width: 60px;
  height: 4px;
  background-color: #00922a;
  margin-top: 28px; }

.territory .represent,
.territory .service {
  width: 39%;
  margin-left: auto;
  background: url("../i/icons/icons-16.svg") 0 0.7em no-repeat;
  background-size: 18px; }

.territory .represent {
  font-weight: 300;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 130%;
  position: relative;
  z-index: 2; }

.territory .service {
  font-weight: 300;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 130%;
  position: relative;
  z-index: 2; }

.territory .map {
  margin-top: -320px;
  padding-bottom: 65px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d7d7d7; }

.territory .map img {
  width: 100%; }

.offices_territories {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  padding-left: 40px; }

.offices_territories h3 {
  font-weight: 500;
  font-size: 24px;
  padding-left: 44px;
  padding-top: 5px; }

.offices_territories h3.geo {
  background: url("../i/icons/geo-18.svg") no-repeat;
  background-size: 26px;
  padding-bottom: 5px; }

.offices_territories h3.terr {
  background: url("../i/icons/icons-06.svg") no-repeat;
  background-size: 31px;
  padding-bottom: 5px; }

.offices_territories .right ul {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px; }

.offices_territories ul {
  font-weight: 300;
  margin-top: 40px;
  padding-left: 44px;
  font-size: 18px;
  counter-reset: ter-list; }

.offices_territories ul li {
  margin-bottom: 28px; }

.offices_territories .right ul li {
  padding: 5px 0;
  padding-left: 44px; }

.offices_territories ul li {
  padding: 5px 0; }

.offices_territories .right ul li {
  position: relative; }

.offices_territories .right ul li::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: .1em;
  width: 22px;
  font-size: 90%;
  line-height: 22px;
  text-align: center;
  color: #399137;
  counter-increment: ter-list;
  content: counter(ter-list);
  border: 1.5px solid #399137;
  border-radius: 50%; }

.partners {
  padding-top: 130px;
  padding-bottom: 170px; }

.partners ul.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.partners ul.logos li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.3334%;
  min-height: 150px;
  border-width: 1px;
  border-style: solid solid none none;
  border-color: #959392; }

.partners ul.logos li:nth-child(1),
.partners ul.logos li:nth-child(2),
.partners ul.logos li:nth-child(3) {
  border-top: 0; }

.partners ul.logos li:nth-child(3n+3) {
  border-right: 0; }

.offices_territories .right ul {
  padding-left: 0; }

.services {
  background-color: #fafafa;
  padding-top: 100px; }

.services .container {
  padding-bottom: 140px;
  background: url("../i/icons/cir.png") no-repeat 90% 140%; }

.desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 150%;
  width: 75%; }

form input.more,
a.more {
  display: inline-block;
  width: auto;
  margin-top: 90px;
  color: #fff;
  font-weight: 300;
  padding: 20px 75px 20px 30px;
  border-style: none;
  border-radius: 30px;
  font-size: 24px;
  cursor: pointer;
  background: #00922a url("../i/icons/arrow.png") no-repeat 90% center; }

input.more:hover,
a.more:hover {
  background: #0e9e37 url("../i/icons/arrow.png") no-repeat 90% center; }

footer {
  background-color: #fafafa; }

footer .container {
  border-top: 1px solid #d7d7d7;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

footer .copr, footer nav {
  display: inline-block; }

footer .copr {
  margin-right: 30px;
  color: #00922a;
  font-weight: 500; }

footer nav ul li {
  display: inline-block;
  margin-left: 50px; }

footer nav ul li a:hover {
  text-decoration: underline; }

footer .devBy {
  color: #8d8d8d;
  text-align: center;
  padding: 0 20px 20px 20px; }

footer .devBy a {
  color: #000; }

.contacts .phone {
  font-size: 36px;
  font-weight: 300;
  padding: 70px 0;
  margin-top: 75px;
  background: url("../i/icons/chat.svg") no-repeat right 80%;
  background-size: 195px auto;
  border-bottom: 1px solid #d7d7d7; }

.contacts .phone .email {
  margin-bottom: 70px;
  padding-left: 70px;
  background: url("../i/icons/icons-08.svg") no-repeat; }

.contacts .phone .phone_num {
  padding-left: 70px;
  background: url("../i/icons/icons-07.svg") no-repeat; }

.contacts .form {
  padding-top: 70px; }

.contacts .forma {
  font-size: 30px;
  font-weight: 300; }

main .container {
  padding: 0 10px; }

.contacts .form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

div.name_input,
div.email_input {
  width: 50%;
  padding-right: 10px;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

div.phone_input,
div.organ_input {
  width: 50%;
  padding-left: 10px;
  display: inline-block;
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
          flex: 1 0 auto; }

.contacts .form form {
  margin-top: 120px; }

.form textarea,
.textarea-wrap {
  width: 100%; }

.form textarea {
  height: 100px;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-left: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #d7d7d7; }

form > div input {
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 80px;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-left: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #d7d7d7; }

.contacts .more {
  margin-bottom: 170px; }

main.vacancy {
  margin-top: 115px; }

.subSection {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 90px; }

main.vacancy .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 23px; }

.row_section {
  width: 50%;
  padding-right: 10px; }

.right .row_section {
  padding-left: 10px; }

.row_section .wrapper {
  width: 100%;
  background-color: #fafafa;
  padding: 55px 55px 65px 45px;
  min-height: 629px; }

.block_title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 40px; }

ul.greendot_list li {
  padding-left: 20px;
  background: url("../i/greendot.png") no-repeat left 9px;
  line-height: 150%;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px; }

ul.greendot_list li:last-child {
  margin-bottom: 0; }

.wrapper.nobgc {
  background: none;
  padding-top: 95px;
  padding-bottom: 0; }

.wrapper.nobgc .block_title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 60px; }

p.email_bg {
  background: url("../i/icons/icons-08.svg") no-repeat 6px center;
  padding-left: 75px;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 60px; }

p.phone_bg {
  background: url("../i/icons/icons-07.svg") no-repeat 6px;
  padding-left: 75px;
  font-size: 24px;
  font-weight: 300; }

.circle_img {
  margin-top: 65%;
  text-align: center; }

.row.nomb {
  margin-bottom: 0 !important; }

.dib {
  display: inline-block;
  vertical-align: top; }

p.demo {
  color: #00922A;
  border: 1px solid #00922A;
  padding: 12px;
  border-radius: 10px;
  margin-top: 14px;
  margin-left: 50px; }

.sectionTitle.w380 span {
  display: block;
  margin-top: 8px; }

main.crm, main.merch {
  margin-top: 80px;
  padding-top: 40px; }

.crm h3 {
  font-size: 24px;
  line-height: 150%;
  max-width: 630px; }

.crm .left p {
  max-width: 560px;
  line-height: 150%;
  font-weight: 300;
  font-size: 24px;
  margin-top: 140px;
  border-bottom: 1px solid #00922A;
  padding-bottom: 60px; }

.crm .left {
  display: inline-block; }

.crm .right {
  display: inline-block;
  float: right; }

.crm .right img {
  margin-top: 60px; }

.row_laptop {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px; }

.row_laptop .laptop {
  width: 50%; }

.row_laptop .text {
  line-height: 150%;
  font-size: 24px;
  font-weight: 300;
  max-width: 560px;
  text-align: right; }

.row_laptop .text p {
  padding-bottom: 60px;
  border-bottom: 1px solid #00922A; }

.row.advantages {
  margin-top: 170px; }

.sectionTitle.green {
  color: #00922A;
  margin-bottom: 40px; }

.sectionTitle.green:after {
  display: none; }

.grayLine {
  width: 100%;
  height: 1px;
  background-color: #D7D7D7;
  margin-bottom: 50px; }

.row.advantages .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.row.advantages .row .left {
  width: 50%;
  padding-right: 15px;
  text-align: center; }

.row.advantages .row .right {
  width: 50%;
  padding-left: 16px; }

.row.advantages .row .nimg {
  padding: 35px 150px 45px 40px;
  background-color: #fafafa;
  min-height: 333px; }

.row.advantages .row .nimg img {
  margin-top: 0;
  margin-bottom: 30px; }

.row.advantages .row .nimg h4 {
  font-size: 24px;
  color: #3f3f3f;
  margin-bottom: 25px; }

.row.advantages .row .nimg p {
  color: #3f3f3f;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  margin-top: 0;
  border-bottom: none;
  padding-bottom: 0; }

.row.advantages .row .nimg p span {
  font-weight: 400; }

.tal {
  text-align: left; }

.mt30 {
  margin-top: 30px; }

.pl_less {
  padding-right: 140px !important; }

.sectionTitle.green {
  margin-top: 130px; }

.nimg img {
  width: 100px; }

.nimg.pr75 {
  padding-right: 75px !important; }

.greenbox p:nth-child(1) {
  color: #00922A;
  font-size: 24px;
  margin-bottom: 15px; }

.greenbox p:nth-child(2) {
  font-weight: 300;
  font-size: 24px; }

.greenbox {
  margin: 85px 0;
  max-width: 1020px;
  border: 1px solid #00922a;
  border-radius: 10px;
  padding: 35px 75px 35px 130px;
  background: url("../i/icons/cal.png") no-repeat 33px center; }

.crm .phone_email h2 {
  font-size: 30px;
  margin-bottom: 85px; }

.crm .phone_email > div {
  display: inline-block;
  padding-left: 45px;
  font-size: 24px;
  font-weight: 300; }

.crm .phone_email .email {
  background: url("../i/icons/icons-08.svg") no-repeat;
  background-size: 28px; }

.crm .phone_email .phone_num {
  background: url("../i/icons/icons-07.svg") no-repeat;
  margin-left: 80px; }

.contacts.crm .form form {
  margin-top: 40px; }

.contacts .container {
  background: url("../i/icons/cir.png") no-repeat 85% 105%; }

section.contacts.crm {
  background: #fafafa;
  padding-top: 85px; }

section.contacts.crm input,
section.contacts.crm textarea {
  background: #fafafa !important; }

.merch p.demo {
  margin-top: -5px; }

.merch .row.advantages {
  margin-top: 40px; }

.merch .nimg img {
  width: 75px; }

.merch .nimg span.point {
  font-weight: 300;
  padding-left: 18px;
  background: url("../i/greendot.png") no-repeat left center;
  background-size: 7px;
  margin-top: 35px;
  font-size: 18px; }

.merch .nimg span.point.mr110 {
  margin-right: 110px; }

.merch .nimg .sm-green {
  color: #00922a;
  font-size: 16px;
  margin-top: 70px; }

.merch .row.advantages .row {
  position: relative; }

.merch img.fc {
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 300px; }

.mt130 {
  margin-top: 130px; }

.merch h3 {
  font-size: 24px;
  display: block;
  font-weight: 300;
  max-width: none;
  margin-bottom: 60px; }

.maw380 {
  max-width: 380px; }

.mb7 {
  margin-bottom: 7px; }

.row.dfx {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

section.otchet {
  position: relative;
  background-color: #fafafa;
  padding-top: 100px;
  padding-bottom: 140px; }

section.otchet img {
  position: absolute;
  right: 0;
  top: 65px; }

section.otchet img.hd {
  display: none; }

.otchet .left {
  /*width: 50%;*/
  width: 45%; }

.otchet .left .point {
  padding-left: 55px;
  font-size: 18px;
  line-height: 140%;
  font-weight: 300;
  max-width: 600px; }

.otchet .left .point.phone_ico {
  background: url("../i/icons/icons-25.svg") no-repeat;
  border-bottom: 1px solid #d7d7d7;
  background-size: 22px;
  padding-bottom: 43px; }

.otchet .left .point.laptop_ico {
  background: url("../i/icons/icons-24.svg") no-repeat;
  background-size: 38px;
  margin-top: 43px; }

.merch .green_circle {
  position: relative;
  text-align: right; }

.merch .green_circle img {
  position: relative;
  top: 95px;
  margin-top: -45px;
  z-index: -1; }

.zapusk {
  padding-top: 125px; }

.zapusk .icon {
  width: 240px;
  text-align: center; }

.zapusk .icon img {
  width: 100%; }

.zapusk p.days {
  font-weight: 500;
  font-size: 36px;
  color: #3f3f3f;
  text-align: center;
  width: 240px;
  margin-top: 40px; }

.dfx {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.zapusk .dfx .text {
  max-width: 745px;
  font-size: 24px;
  font-weight: 300;
  line-height: 160%;
  margin-left: 90px; }

.merch .zapusk .green_circle img {
  right: -30px; }

.merch.greenbox {
  margin: 55px 0; }

.contacts .form.merch {
  padding-top: 50px; }

.contacts .merch .more {
  margin-bottom: 100px; }

.row.advantages .row .nimg.merch {
  padding-top: 70px; }

.row.advantages .row .nimg img.merch {
  margin-bottom: 68px; }

main.crm.merch {
  margin-top: 0; }

.row.advantages .row .nimg.more-pr {
  padding-right: 140px; }

.mt20 {
  margin-top: 20px !important; }

main.crm.merch.mt80 {
  margin-top: 80px; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 45px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.modal-content h3 {
  font-weight: 300;
  font-size: 24px;
  text-align: center; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 50%;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 50%;
    opacity: 1; } }

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white; }

.modal-body {
  padding: 2px 16px; }

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white; }

.modal-body .contacts .form form {
  margin-top: 0; }

.modal-body .contacts .form {
  padding-top: 55px;
  text-align: center; }

.modal-body div.name_input {
  padding-right: 10px;
  width: 100%; }

.modal-body div.phone_input {
  width: 100%;
  padding-left: 0; }

.modal-body div.name_input, .modal-body div.email_input {
  padding-right: 0;
  width: 100%; }

.modal-body div.phone_input, .modal-body div.organ_input {
  width: 100%;
  padding-left: 0; }

.modal-body form > div input {
  margin-bottom: 40px; }

.modal-body a.more {
  margin-top: 55px;
  margin-bottom: 0; }

.modal-body .contacts .container {
  background: none; }

.sweet-alert {
  width: 100%;
  max-width: 700px; }

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  border-color: #00922a; }

.sweet-alert .sa-icon.sa-success .sa-line {
  background-color: #00922a; }

.sweet-alert h2 {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 30px; }

.sweet-alert p {
  max-width: 305px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%; }

.sweet-alert button {
  background-color: #00922a !important; }

.hamburgerMenu {
  display: none; }

.banner .white {
  display: none; }

.offices_territories ul.mt41 {
  margin-top: 41px; }

.mobile_menu {
  display: none; }

.dfx_mobile, div.text.mob {
  display: none; }

.hide_on_desctop {
  display: none; }

footer .copr.mob {
  display: none; }

header .logo a img {
  width: 123px; }

@media only screen and (min-width: 1367px) {
  .siteMain .banner .siteName span {
    font-size: 30px; }
  .siteMain .banner .siteName {
    top: 20%; } }

@media only screen and (max-width: 1367px) {
  .container {
    max-width: 1170px;
    padding: 0 15px; }
  .siteMain .banner img {
    max-width: 120%;
    margin-left: -15%;
    min-width: 480px; }
  .siteMain .banner h2 {
    top: 50%; }
  section.otchet img.full_hd {
    display: none; }
  section.otchet img.hd {
    display: block; } }

@media only screen and (max-width: 1120px) {
  .siteHeader .topMenu {
    width: auto; }
  .siteMain .banner h2 {
    font-size: 5.1vw; }
  .description p {
    width: 100%; }
  .offices_territories .right {
    margin-left: 5%; }
  .offices_territories .right ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }
  .offices_territories {
    padding-left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media only screen and (max-width: 991px) {
  footer .left {
    margin-top: 15px; } }

@media only screen and (max-width: 960px) {
  .siteHeader .container .top {
    display: block; }
  .siteHeader .container .top .logo {
    text-align: center;
    margin-bottom: 20px; }
  .user-login-page div.slogan {
    display: none; }
  .siteHeader .container .top .rightBlock > div {
    margin-left: 5%; }
  .siteHeader .container .top .rightBlock > div:nth-child(1) {
    margin-left: 0; }
  .siteHeader .container .top .rightBlock {
    text-align: center; }
  .description p {
    margin: 60px 0; }
  .services .container {
    padding-bottom: 50px; } }

@media only screen and (max-width: 800px) {
  .territory .represent,
  .territory .service {
    width: auto; }
  .territory .map {
    margin-top: -70px; }
  .desc {
    width: 100%;
    font-size: 26px; } }

@media only screen and (max-width: 735px) {
  footer .container .left {
    text-align: center; }
  footer .copr {
    margin: 0; }
  footer .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 705px) {
  .offices_territories .right ul {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0; }
  footer .copr {
    display: block;
    margin-bottom: 15px; }
  .siteMain .banner h2 {
    left: 3%; } }

@media only screen and (max-width: 600px) {
  .siteHeader .container .top .rightBlock > div:nth-child(3) {
    margin-top: 15px; }
  .description p {
    font-size: 25px; }
  .territory {
    padding-bottom: 50px; }
  .partners {
    padding-top: 50px;
    padding-bottom: 50px; }
  .description .descList {
    margin-right: 0; } }

@media only screen and (max-width: 591px) {
  .siteHeader .topMenu:after {
    display: none; }
  .siteHeader .topMenu ul li.active {
    border-bottom: none; }
  .siteHeader .topMenu ul li.active a {
    border-bottom: 2px solid #00922a; }
  .siteHeader .topMenu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .siteMain .banner {
    margin-top: 50px;
    overflow: hidden; } }

@media only screen and (max-width: 570px) {
  .offices_territories .right {
    margin-left: 0;
    margin-right: 5%;
    margin-top: 30px; } }

@media only screen and (max-width: 520px) {
  .territory .service,
  .territory .represent {
    font-size: 18px; }
  .territory .map {
    padding-bottom: 40px; } }

@media only screen and (max-width: 405px) {
  .siteHeader .container .top .rightBlock > div:nth-child(4) {
    margin-top: 15px; }
  .description {
    background: none;
    padding-bottom: 0; }
  .territory .map {
    margin-top: -30px; } }

@media only screen and (max-width: 380px) {
  .siteHeader .container .top .rightBlock > div:nth-child(2) {
    margin-top: 15px; }
  .siteHeader .container .top .rightBlock > div {
    margin-right: 5%; }
  .siteHeader .container .top .rightBlock > div:nth-child(1) {
    margin-left: 5%; }
  .description p {
    font-size: 20px;
    text-align: center; }
  .offices_territories h3 {
    font-size: 22px; }
  .offices_territories ul {
    font-size: 16px; }
  .offices_territories .right ul li {
    padding: 6px 0;
    padding-left: 44px; }
  input.more {
    font-size: 20px; }
  footer nav ul li {
    display: block;
    margin: 0;
    margin-bottom: 10px; } }
